[package]
name = "elytra-wasm"
version = "0.1.0"
edition = "2024"
license.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true

[dependencies]
elytra-conf = { path = "../elytra-conf" }