[package]
name = "elytra-macros"
edition = "2024"
license.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
version.workspace = true

[lib]
proc-macro = true

[dependencies]
elytra-conf = { path = "../elytra-conf" }